<ion-view view-title="Account Info">
  <ion-content scroll="false">
    <div class="account background background-image">
      <div class="account user user-image">
        <img ng-src="../img/adam.jpg"></div>
      <div class="account user user-name">
        {{user.name}}
      </div>
    </div>
    <!-- Switch to onclick spans -->
    <div class="list">
      <label class="item item-input">
        <span class="input-label"> Email </span>
        <input type="email" ng-model="account.email" placeholder="{{user.email}}">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="account.password" placeholder="{{user.password}}">
      </label>
      <label class="item item-input">
        <span class="input-label">Date of Birth</span>
        <input type="Date" ng-model="account.dob">
      </label>
    </div>
    <button class="account button button-full button-positive" ng-click="logout()">
      Logout
    </button>
  </ion-content>
</ion-view>
