<ion-view view-title="Charities">
  <ion-content>
    <ion-list class="charity-list" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item ng-repeat="charity in charities" class="item-thumbnail-left" ng-click="selectCharity('{{charity._id}}')">
        <img ng-src="{{charity.logo}}">
        <h2>{{charity.name}}</h2>
        <p>{{charity.description}} dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf  dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf dsklaj dsfjkldsaajfklds jkladsjklsad kldsaj kldsaf</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
