<ion-view view-title="Find Races">
  <ion-content>

    <div class="races find-races-container" ng-repeat="race in races" ng-click="selectRace(race._id)">
      <div class="races gradient">
        <h1 class="featured-race">{{race.name}}</h1>
        <p class="races races-detail">Location: {{race.city}}</p>
        <p class="races races-detail">Distance: {{race.distances}}</p>
        <p class="races races-detail">Date: {{race.date | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>


  </ion-content>
</ion-view>
