<ion-view view-title="Workouts">
  <ion-content class="workout-page">
  <!--<ion-content>-->
    <ion-list class="workouts list">
      <div ng-repeat="run in list">
      <a class="workout item item-icon-left item-icon-right" ng-click="selectedRun(run._id)">


        <div class="top row" style="font-size: small; font-weight: 600;">
          <i class="icon material-icons" style="font-size: x-large;">directions_run</i>
          <div class="col col-40">
           {{run.date | date:'MM/dd/yyyy'}}
          </div>
          <div class="col col-40">
            {{run.charity}}
          </div>
        </div>
        <div class="bottom row" style="font-size: small;">
          <div class="col col-40">
            {{run.minutes + ":" +run.seconds}}
          </div>
          <div class="col col-30">
            {{run.distance}} mi
          </div>
          <div class="col col-30">
            {{run.pace | number: 2 }} min/mi
          </div>

          <i class="icon ion-ios-arrow-right" style="font-size: large;"></i>
        </div>

      </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
