<head>
  <link rel="stylesheet" type="text/css" href="history-day.css">
</head>
<ion-content class="has-header">

  <div class="item item-button-left item-button-right history-day-page">
    <button class="button button-icon icon ion-ios-arrow-thin-left"></button>
    June 4, 2016
  </div>

  <!-- Space for map image -->

  <div class="row">
    <div class="col col-50">
      <!--Duration-->
      <p class="history-day-page head">Duration</p>
      <p class="history-day-page label">1:14:29</p>
    </div>
    <div class="history-day-page vertical-line"></div>
    <div class="col col-50">
      <!--Distance-->
      <p class="history-day-page head">Distance</p>
      <p class="history-day-page label">9.80<span class="history-day-page miles">mi</span> </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col col-50">
      <!--Pace-->
      <p class="history-day-page head">Pace</p>
      <p class="history-day-page label">7:36<span class="history-day-page miles">min/mi</span></p>
    </div>
    <div class="history-day-page vertical-line"></div>
    <div class="col col-50">
      <!--Funds Raised-->
      <p class="history-day-page head">Funds Raised</p>
      <p class="history-day-page label">$4.90</p>
    </div>
  </div>

  <div class="list">
    <div class="item history-day-page splits">
      <div class="row">
        <div class="col-25 history-day-page">Splits</div>
        <div class="col-25 history-day-page" style="font-size: smaller">Distance</div>
        <div class="col-25 history-day-page" style="font-size: smaller">Time</div>
        <div class="col-25 history-day-page" style="font-size: smaller">Pace</div>
      </div>
    </div>
    <div class="item history-day-page splits">
      <div class="row">
        <div class="col-25 history-day-page">1</div>
        <div class="col-25 history-day-page">2.45</div>
        <div class="col-25 history-day-page">15:23</div>
        <div class="col-25 history-day-page">7:45</div>
      </div>
    </div>
    <div class="item history-day-page splits">
      <div class="row">
        <div class="col-25 history-day-page">2</div>
        <div class="col-25 history-day-page">2.45</div>
        <div class="col-25 history-day-page">15:23</div>
        <div class="col-25 history-day-page">7:45</div>
      </div>
    </div>
    <div class="item history-day-page splits">
      <div class="row">
        <div class="col-25 history-day-page">3</div>
        <div class="col-25 history-day-page">2.45</div>
        <div class="col-25 history-day-page">15:23</div>
        <div class="col-25 history-day-page">7:45</div>
      </div>
    </div>
    <div class="item history-day-page splits">
      <div class="row">
        <div class="col-25 history-day-page">4</div>
        <div class="col-25 history-day-page">2.45</div>
        <div class="col-25 history-day-page">15:23</div>
        <div class="col-25 history-day-page">7:45</div>
      </div>
    </div>
  </div>

</ion-content>
