<ion-modal-view>
  <ion-content class="invite-sponsor">
    <div class="invite-sponsor header">
      <h1 class="invite-sponsor heading">
        <span class="ion-close-round" ng-click="modal.hide()"></span>
        Invite Sponsors
      </h1>
    </div>

    <h2 class="invite-sponsor">Donation Link</h2>
    <div class="invite-sponsor donation-link unselected" ng-click="copyDonationLink()">

      <p class="invite-sponsor link selectable">
        <textarea class="invite-sponsor link selectable" type="text" value="{{ inviteUrl }}" class="transparent-input" readonly  size="50" click-select>{{inviteUrl}}</textarea>
      </p>

    </div>

    <div class="invite-sponsor how-does-it-work">
      <h2 class="invite-sponsor">How does it work?</h2>
      <p class="invite-sponsor">
        Send this link to family and friends and ask them to support your charity and training, or use the link to sponsor yourself!
        <br>
        &nbsp;
        <br>
        We transact the funds once a month and update your sponsors on your progress every 2 weeks.
      </p>
    </div>

    <div class="invite-sponsor">
      <button class="copy button button-positive button-full" ng-click="copyDonationLink()">
        Copy link to clipboard
      </button>
      <button class="self-sponsor button button-positive button-full" ng-click='openDonationLink("{{ inviteUrl }}")'>
        Sponsor yourself!
      </button>
    </div>

    <div class="invite-sponsor copy-confirm" ng-show="popupToggle">
        Copied to clipboard
        <br>
        <span class="ion-ios-copy-outline"></span>
    </div>


    <!--<div>-->
      <!--<h2 class="invite-sponsor">Share</h2>-->
        <!--<ul class="invite-sponsor buttons">-->
          <!--<li>-->
            <!--<button class="invite-sponsor button button-assertive" ng-click="shareBySMS()" disabled="trure">-->
              <!--Text-->
            <!--</button>-->
          <!--</li>-->
          <!--<li>-->
            <!--<button class="invite-sponsor button button-assertive" ng-click="shareByMail()" disabled="true">-->
              <!--Email-->
            <!--</button>-->
          <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="invite-sponsor social">-->
      <!--<h2 class="invite-sponsor">Social</h2>-->
      <!--&lt;!&ndash;a ng-click="shareByFB()" class="button" >hit me</a&ndash;&gt;-->
      <!--<a ng-click="shareByFB()"><img class="invite-sponsor fb-logo" ng-src="img/FB-f-Logo__blue_1024.png"/></a>-->
    <!--</div>-->

  </ion-content>
</ion-modal-view>
