<ion-modal-view view-title="Browse">
  <ion-content>
    <div class="header">
      <h1 class="heading">Invite Sponsors</h1>
    </div>
    <div class="donation-link">
      <h2>Donation Link</h2>
      <p>{{ data.url }}</p>
    </div>
    <div>
      <h2>Share</h2>
        <ul id="buttons">
          <li>
            <button class="button button-assertive" ng-click="shareBySMS()">
              Text
            </button>
          </li>
          <li>
            <button class="button button-assertive" ng-click="shareByMail()">
              Email
            </button>
          </li>
        </ul>
    </div>
    <div class="social">
      <h2>Social</h2>
      <!--a ng-click="shareByFB()" class="button" >hit me</a-->
      <a ng-click="shareByFB()"><img class="fb-logo" src="../img/FB-f-Logo__blue_1024.png"/></a>
    </div>
    <div class="how-does-it-work">
      <h2>How does it work?</h2>
      <p>Simply share the link with your family and friends, asking them to support your charity and training. They use the link to make a per-mile donation. We transact the funds once a month and update your sponsors on your progress every 2 weeks.</p>
    </div>
  </ion-content>
</ion-modal-view>
