<ion-modal-view>
  <ion-content>
    <div class="invite-sponsor header">
      <h1 class="invite-sponsor heading">
        <span class="ion-close-round" ng-click="modal.hide()"></span>
        Invite Sponsors
      </h1>
    </div>
    <div class="invite-sponsor donation-link">
      <h2 class="invite-sponsor">Donation Link</h2>

      <input value="{{ data.url }}"  readonly type="text" size="50" onclick="this.select()"/>

    </div>
    <div>
      <h2 class="invite-sponsor">Share</h2>
        <ul class="invite-sponsor buttons">
          <li>
            <button class="invite-sponsor button button-assertive" ng-click="shareBySMS()">
              Text
            </button>
          </li>
          <li>
            <button class="invite-sponsor button button-assertive" ng-click="shareByMail()">
              Email
            </button>
          </li>
        </ul>
    </div>
    <div class="invite-sponsor social">
      <h2 class="invite-sponsor">Social</h2>
      <!--a ng-click="shareByFB()" class="button" >hit me</a-->
      <a ng-click="shareByFB()"><img class="invite-sponsor fb-logo" ng-src="img/FB-f-Logo__blue_1024.png"/></a>
    </div>
    <div class="invite-sponsor how-does-it-work">
      <h2 class="invite-sponsor">How does it work?</h2>
      <p class="invite-sponsor">Simply share the link with your family and friends, asking them to support your charity and training. They use the link to make a per-mile donation. We transact the funds once a month and update your sponsors on your progress every 2 weeks.</p>
    </div>
  </ion-content>
</ion-modal-view>
