<ion-view view-title="Sponsors" ng-controller="MyDonationCtrl">
    <ion-nav-buttons side="right" >
        <button class="button button-clear button-positive" ng-click="openModal($event)">
          InviteSponsor
        </button>
    </ion-nav-buttons>
    <ion-content>
      <ion-refresher ng-hide="noPledge" pulling-text="Pull to refresh..." on-refresh="doRefresh('fetchMyPledges')"></ion-refresher>
      <div class="wrapper">
        <div class="sponsor-header">
          <div class="row">
            <div class="col col-50 image">
            </div>
            <div class="col col-50">
              <h2>Jane Doe</h2>
              <div class="row row-center">
                <div class="col col-67">$252.24</div>
                <div class="col col-33">raised for charity</div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="button button-small button-clear button-PDMLight" ng-click="manageSponsors()">Manage my sponsors</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-center">
          <div class="col">
            <h3>My Pledges</h3>
          </div>
          <div class="col pledge">
            <p class="pledge">Pledge</p>
            <p class="ending-date">ending date</p>
          </div>
        </div>
        <hr>
        <div class="list">
          <!-- use this template for all the cells-->
          <a class="item item-icon-left" ng-repeat="pledge in pledges">
            <span class="cell-vertical-center-text">{{ pledge.recipient.name.first }} {{pledge.recipient.name.last}}</span>
              <span class="item-note">
                <p class="pledge">{{ formateCurreny(pledge.per_mile_donation) }}/mile</p>
                <p class="ending-date">{{ formateDate(pledge.end_date) }}</p>
              </span>
          </a>
        </div>
        <span ng-show="noData">
            No pledge now.
        </span>
      </div>
      </div>
    </ion-content>
</ion-view>
