<ion-view class="my-races" view-title="My races">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()" >
      <i class="icon ion-ios-arrow-back"></i>
      Races</button>
  </ion-nav-buttons>

  <ion-content>

    <div class="races my-races-container" ng-repeat="race in myRaces" ng-click="selectRace(race._id)"
         style="background-image:url('img/race-images/race-banner-{{race._id}}.png');">
      <div class="races gradient">
        <h1 class="featured-race">{{race.name}}</h1>
        <p class="races races-detail">Location: {{race.city}}</p>
        <p class="races races-detail">Date: {{race.date | date:'MM/dd/yyyy'}}</p>
        <p class="races races-detail">Distance: {{race.distances}}</p>
      </div>
    </div>

<!--
    <div class="races find-tile-container">
      <div  class="races find-box" ng-repeat="race in myRaces" ng-click="selectRace(race._id)">
        <h1 class="featured-race">{{race.name}}</h1>
        <p class="races races-detail">Location: {{race.city}}</p>
        <p class="races races-detail">Distance: {{race.distances}}</p>
        <p class="races races-detail">Date: {{race.date | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>
    -->
  </ion-content>
</ion-view>
