<head>
  <link rel="stylesheet" type="text/css" href="../css/app-donations.css">
</head>
<ion-view view-title="Donations">
  <!--
  <ion-content>
    <h1>Donations</h1>
  </ion-content>
  <ion-content>
    <h1>My Pledges</h1>
    <div>
      <div class="bar bar-header bar-light">
        <h1 class="title">Sponsors</h1>
      </div>
    </div>
  -->
    <ion-content class="has-header">
      <ion-refresher ng-hide="noData || incomplete" on-refresh="doRefresh('2')"></ion-refresher>
      <div class="wrapper">

        <div class="sponsor-header">

          <div class="row">
            <div class="col col-50 image">

            </div>
            <div class="col col-50">
              <h2>Jane Doe</h2>
              <div class="row row-center">
                <div class="col col-67">$252.24</div>
                <div class="col col-33">raised for charity</div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="button button-small button-clear button-PDMLight">Manage my sponsors</button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row row-center">
          <div class="col">
            <h3>My Sponsors</h3>
          </div>
          <div class="col pledge">
            <p class="pledge">Pledge</p>
            <p class="ending-date">ending date</p>
          </div>
        </div>
        <hr>
        <div class="list">
          <!-- use this template for all the cells-->
          <a class="item item-icon-left" ng-repeat="item in list">

            <span class="cell-vertical-center-text">{{ item.donor.firstName }} {{item.donor.lastName}}</span>

              <span class="item-note">
                <p class="pledge">{{ item.per_mile_donation }}¢/mile</p>
                <p class="ending-date">{{ item.end_date }}</p>
              </span>
          </a>
        </div>
        <span ng-show="noData">
            No Sponsor now.
        </span>
        <button class="button button-block button-clear button-sponsor-help">Need Help Getting Sponsors?</button>



      </div>

      </div>

    </ion-content>
  <!--
  </ion-content>
  -->
</ion-view>
