<ion-view view-title="Races" class="has-header">
  <ion-content class="has-header">

    <div class="races featured-containter">
      <ion-slides>
        <ion-slide-page>
          <div class="races featured-box">
            <h1 class="featured-race">Featured Race 1</h1>
            <p class="races featured-race-detail">Location: Washington, DC</p>
            <p class="races featured-race-detail">Distance: 500mi</p>
          </div>
        </ion-slide-page>
        <ion-slide-page>
          <div class="races featured-box">
            <h1 class="featured-race">Featured Race 2</h1>
            <p class="races featured-race-detail">Location: Arlington, VA</p>
            <p class="races featured-race-detail">Distance: 500mi</p>
          </div>
        </ion-slide-page>
        <ion-slide-page>
          <div class="races featured-box">
            <h1 class="featured-race">Featured Race 3</h1>
            <p class="races featured-race-detail">Location: Baltimore, MD</p>
            <p class="races featured-race-detail">Distance: 500mi</p>
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>

    <div class="races my-races-container">
      <h1 class="my-races">My Races</h1>
    </div>

    <div class="races find-races-container">
      <h1 class="find-races">Find Races</h1>
    </div>

    <div class="races past-races-container">
      <h1 class="past-races">Past Races</h1>
    </div>

  </ion-content>
</ion-view>
