<ion-view view-title="Reset Password">
  <ion-content scroll="false" ng-controller="ResetCtrl">
    <div>
      <label class="item item-input">
        <span class="input-label">new password</span>
        <input type="password" ng-class="editing" ng-model="data.newPassword" placeholder="new password" >
      </label>
      <label class="item item-input">
        <span class="input-label">confirm password</span>
        <input type="password" ng-model="data.confirmPassword" placeholder="confirm password">
      </label>
    </div>
    <button class="button button-full button-positive" ng-click="changePassword()" >
      change
    </button>
  </ion-content>
</ion-view>
