.account.background.background-image {
  width: 100%;
  height: 150px;
  background-image: url("../img/account_info-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.account.user.user-image > img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  float:left;
  /*margin: 35px 15px 35px 35px;*/
  transform: translate(35px, 35px);
  -ms-transform: translate(35px, 35px);
  -webkit-transform: translate(35px, 35px);
}

.account.user.user-name {
  text-align: right;
  font-size: 32px;
  padding: 40px 35px 0 110px;
  color: #fff;
  line-height: normal;
}

.account.button.button-full {
  background-color: #ed2024
}


/*input {
  text-align: right;
}

.name {
  background-image: url("../img/account_info-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  text-align: right;
  vertical-align: middle;
  color: white;
  font-weight: 100;
  float:right;
}*/
