/*ion-header-bar.sign-up {
  background-color: #00b9be !important;
}*/

.sign-up .logo-image {
  display: block;
  margin: 0 auto 10px auto;
  width: 20%;
  height: auto;
}

.sign-up .logo-title {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 0;

}

  .sign-up .logo-title span{
    font-weight: 500;
  }

ion-content.sign-up {
  background-color: #00b9be;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 20%
}

  .sign-up .button {
    margin-top: 0;
    background-color: #01999d;
    color: #fff;
    text-decoration: none;
  }

  .sign-up .button:hover {
    border: none;
  }


.sign-up .input-label {
  color: #a1a1a1;
}

.sign-up .item-input {
  padding: 3px 0 3px 16px;
}
