.charity-list ion-item {
  min-height: 75px;
  height: 75px;
}


.charity-list img:first-child {
  background-color: red;
  max-width: 50px;
  max-height: 50px;
  position: absolute;
}

.charity-list h2 {
  padding: 2% 0 0 0;
  position: relative;
  left: -10%;
}

.charity-list p {
  padding: 0;
  position: relative;
  left: -10%;
}
