.charity-page.charity-header, .charity-page.charity-detail ion-item:first-child {
  border-bottom: 2px solid #00b9be;
  z-index: 2;
}

.charity-page.charity-header h3 {
    text-align: center;
    font-size: 16px;
    padding-top: 0;
    margin: 5px;
    font-weight: 400;
}

.charity-page.charity-header h1 {
  text-align: center;
  font-weight: 200;
  padding: 0;
  margin: 5px;
}

.charity-page.charity-detail {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;

  transition: 0.09s all linear;
}

.charity-page.charity-detail.ng-hide {
  line-height: 0px;
}

.charity-page.charity-detail.ng-hide-add,
.charity-page.charity-detail.ng-hide-remove {
  display: block !important;
}

  .charity-page.charity-detail.item-thumbnail-left.item {
    border:none;
  }

  .charity-page.charity-detail img:first-child {
    background-color: #00b9be;
    margin: 15px 15px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  .charity-page.charity-detail a {
    position: relative;
    top: 5%;

    left: -3%;
    color: #00b9be;
  }

  .charity-page.charity-detail p.description {
    position: relative;
    word-wrap: break-word;
    left: -3%;
    height: 55px;
    white-space: normal;
    text-align: justify;
  }

  .charity-page.charity-detail .stats {
    padding: 0;
    margin: 0;
  }

    .charity-page.charity-detail .stats .row{
      padding-bottom: 0;
      margin: 0;
    }

    .charity-page.charity-detail .stats .row p{
      margin: 0 auto 0 15px;
    }

      .charity-page.charity-detail .stats .row p.head{
        font-weight: bold;
      }

  .charity-page.charity-detail .verticalLine.charity-page {
    border-left: thin solid lightgrey;
    transition: 1s all linear;
  }



button.charity-page.button-slide-up {
  background-image: url("../img/pull down grey bar straight.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  display: block;

  width: 100%;
  height: 0.8vh;

  margin-bottom: 3px;
  position: relative;
}

button.charity-page.button-slide-down {
  background-image: url("../img/pull down grey bar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  display: block;

  width: 100%;
  height: 1.5vh;

  margin-bottom: 3px;
  position: relative;
}

button.charity-page.button-slide-down:before {
  position: absolute;
  content: '';
  top: -10px; bottom: -10px; left: -10px; right: -10px;
}

button.charity-page.button-slide-up:before {
  position: absolute;
  content: '';
  top: -10px; bottom: -10px; left: -10px; right: -10px;
}

.charity-page.charity-list{

}

  .charity-page.charity-list ion-item:first-child	 {
    border-top: none;
  }

  .charity-page.charity-list ion-item {
    position: relative;
    min-height: 75px;
  }

  .charity-page.charity-list img:first-child {
    background-color: #00b9be;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px; left: 0; bottom: 0; right: 0;
    margin: 15px;
    display: inline;
  }

  .charity-page.charity-list h2 {
    padding: 2% 0 0 0;
    position: relative;
    left: -7vw;
  }

  .charity-page.charity-list p {
    padding: 0;
    position: relative;
    left: -7vw;
    max-width: 70vw;
  }

  .charity-page.charity-list .select {
    text-align: right;
  }

    .charity-page.charity-list .button.select {
      background-color: transparent;
      color: #009b9e;
      font-size: 32px;
      position: absolute;
      right: 10px;
      top: 20px;
    }

  .charity-page.charity-list .charity-detail  {
    position: relative;
    left: -20%;

  }

    .charity-page.charity-list .charity-detail ion-item {
      width: 100vw;
      border-bottom: none;
      border-top: 1px solid #ddd;
      min-height: 50px;
      padding-top: 5px;
      padding-bottom: 0;
      margin-top: 10px;
    }

    .charity-page.charity-list .charity-detail a {
      padding: 0;
      margin: 0;
      margin-top: 10px;
      position: relative;
      /*left: -2%;*/
    }

    .charity-page.charity-list .charity-detail p.description {
      /*padding: 0;*/
      max-width: 80vw;
      margin: 5px 0px 10px 0px;
      position: relative;
      /*left: -2%;*/
    }

    .charity-page.charity-list .charity-detail .stats {
      padding-top: 10px
    }

    .charity-page.charity-list .charity-detail .stats .head {
      padding-left: 5px;
      font-size: 24px;
      display: inline;
    }


    .charity-page.charity-list .charity-detail .stats .label {
      text-align: center;
      font-size: 20px;

      display: inline;
    }


    @media (max-width: 350px) {

      .charity-page.charity-list .charity-detail  {
        position: relative;
        left: -33%;
      }


      .charity-page.charity-list .charity-detail p.description {
        position: relative;
        left: -5%;
      }

      .charity-page.charity-list .charity-detail a {
        position: relative;
        left: -5%;
      }

      .charity-page.charity-list .charity-detail .stats .head {
        padding-left: 0;
      }
    }
