.history-day-page.date-header.item {
  font-family: HelveticaNeue-Light;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
}

  .history-day-page.date-header.item button {
    position: absolute;
    top: 7px;
    left: 4px !important;
    font-size: 30px;
  }

.history-day-page.multiple-runs {
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  padding: 10px;
  background-color: #efefef;
}

  .history-day-page.multiple-runs ul li {
    display: inline;
  }

    .history-day-page.multiple-runs ul li .ion-chevron-left {
      position: absolute;
      left: 5px;
    }

    .history-day-page.multiple-runs ul li .ion-chevron-right {
      position: absolute;
      right: 5px;
    }

p.history-day-page.head {
  font-family: HelveticaNeue-Light;
  font-size: large;
  text-align: left;
}

p.history-day-page.label {
  font-family: HelveticaNeue-Light;
  font-size: x-large;
  text-align: center;
}

span.history-day-page.miles {
  font-family: HelveticaNeue-Light;
  font-size: small;
  font-weight: lighter;
}

.history-day-page.vertical-line {
  border-left: thin solid lightgrey;
}

hr.history-day-page {
  height: 1px;
  background-color: lightgrey;
}

.col-25.history-day-page {
  font-family: HelveticaNeue-Light;
  font-weight: lighter;
  color: grey;
  text-align: center;
}


.item.history-day-page.splits {
  padding: 0;
}

  .item.history-day-page.splits.title .row{
    padding-left: 0;
    padding-right: 0;
  }

  .item.history-day-page.splits .col-25.history-day-page {
    font-family: HelveticaNeue-Light;
    font-weight: lighter;
    color: grey;
    text-align: center;
  }

    .item.history-day-page.splits.title .col-25.history-day-page{
      padding: 0;
      font-size: small;
      font-weight: 800;
    }


  .item.history-day-page.splits.values .row{
    margin: 0;
    padding: 7px 0 5px 0;
    border-bottom: 1px solid lightgrey;
  }
