/*Three bubbles*/

.bubble-wrapper {
  /*margin: auto;*/
  width: 100vw;
  height: 45vw;
}

.left-bubble-box {
  width: 33vw;
  height: 33vw;

  position: absolute;
  top: 10vw;
  left: 4vw;

  background-image: url('../img/BackgroundCircleDark.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* padding-top: 33vw;*/

  text-align: center;
}

.center-bubble-box {
  width: 33vw;
  height: 33vw;

  position: absolute;
  left: 33vw;

  background-image: url("../img/BackgroundCircleLight.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* padding-top: 33vw;*/

  text-align: center;

  z-index: 10;
}

.right-bubble-box {
  width: 33vw;
  height: 33vw;

  position: absolute;
  top: 10vw;
  right: 5vw;

  background-image: url("../img/BackgroundCircleDark.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* padding-top: 33vw;*/

  text-align: center;
}

p.label {
  font-family: "HelveticaNeue-Light";
  padding-top: 30%;
  font-size: x-large;
}

p.value {
  font-family: "HelveticaNeue-Light";
  font-size: xx-large;
  font-weight: bold;
  padding-top: 5px;
}

p.units {
  font-family: "HelveticaNeue-Light";
  font-weight: lighter;
  font-size: small;
  text-align: center;
}

p.week-label {
  font-family: "HelveticaNeue-Light";
}

.week-buttons-wrapper {
  text-align: center;
}

ion-content.BarCtrl{
  position: relative;
}

button {
  background-size: contain;
  background: no-repeat;
  border: none;
  height:10%;
  width: 5%;
  background-color: white;
}

button.button.right-button {
  background-image: url("../img/right%20arrow.png");
  background-position: center;
  background-color: white;

}

button.button.left-button {
  background-image: url("../img/left%20arrow.png");
  background-position: center;
  background-color: white;

}

/*Slide/Picker*/
.month-slide {
  /*background-image: url("Tab Background.png");*/
  background: no-repeat;
  background-size: cover;

  text-align: center;
}

ion-slide.slider-slide {
  width: 50%;
}

.slider {
  width: 50%;
  margin: auto;
  text-align: center;
}

.month-slide-wrapper {
  text-align: center;
}

/*Bar Chart*/
canvas {
  width: 100%;
  height:100%;
}
