.invite-sponsor.header .heading {
  background-color: #efefef;
  color: #000000;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  padding: 2% 2% 2% 2%;
}

  .invite-sponsor.header .heading .ion-close-round{
    position: absolute;
    left: 10px;
  }

h2.invite-sponsor {
  padding: 3% 5% 1% 5%;
  margin: 0;
  /*padding-top: 2%;
  margin-left: 2pt;
  padding-bottom: 0;
  margin-bottom: 0;*/
  font-weight: 300;
  font-size: 1.25em;
  color: black;
  text-align: left;
}

p.invite-sponsor {
  font-size: 1em;
  font-weight: 300;
  padding: 0 5% 3% 5%;
}

/*Donation Link Styling*/
.donation-link.invite-sponsor p {
  text-align: center;
  background-color: #efefef;
  padding: 2%;
  margin: 0 5% 3% 5%;
}


/*Share Buttons Styling - Text and Email*/
ul.invite-sponsor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3%;
}

ul.invite-sponsor li {
    display: inline;
}
#buttons {
  text-align: center;
}
.invite-sponsor.button.button-assertive {
    background-color: #ce1d1f;
    width: 35%;
    padding: 0;
    margin-right: 7%;
    margin-left: 7%
}
.invite-sponsor.button.button-assertive.activated {
    background-color: #00b9be;
}
.invite-sponsor.fb-logo {
  position: relative;
  top: 10px;
  left: 5%;
  width: 5%;
  height: 50px;
  width: auto;
}
