.header .heading {
  background-color: #efefef;
  color: #000000;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  padding: 4% 2% 2% 2%;
}

h2{
  padding: 3% 5% 0 5%;
  margin: 0;
  /*padding-top: 2%;
  margin-left: 2pt;
  padding-bottom: 0;
  margin-bottom: 0;*/
  font-weight: 300;
  font-size: 1.25em;
  color: black;
  text-align: left;
}

p {
  font-size: 1em;
  font-weight: 300;
  padding: 0 5% 3% 5%;
}

/*Donation Link Styling*/
.donation-link p {
  text-align: center;
  background-color: #efefef;
  padding: 2%;
  margin: 0 5% 3% 5%;
}


/*Share Buttons Styling - Text and Email*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3%;
}

li {
    display: inline;
}
#buttons {
  text-align: center;
}
.button.button-assertive {
    background-color: #ce1d1f;
    width: 35%;
    padding: 0;
    margin-right: 7%;
    margin-left: 7%
}
.button.button-assertive.activated {
    background-color: #00b9be;
}
.fb-logo {
  position: relative;
  top: 10px;
  left: 5%;
  width: 5%;
  height: auto;
}
