.my-pledges.sponsor-header {
  background-image: url("../img/account_info-bg.png");
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  width: 100%;


  text-align: center;
  display: inline-block;
}

.my-pledges.col {
  background-color: transparent;
}

.my-pledges.col.col-50.image {
  background-image: url("../img/Avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.my-pledges.col.col-67 {
  color: white;
  font-family: "HelveticaNeue-Light";
  font-size: 1.5em;

  text-align: left;
}
.my-pledges.col.col-33 {
  color: white;
  font-family: "HelveticaNeue-Light";
  font-size: .65em;

  font-weight: thin;
  line-height: 100%;
  text-align: right;
}

.my-pledges h2 {
  font-family: "HelveticaNeue-Light";
  font-weight: thin;
  font-size: 2em;

  color: #000;
  text-align: center;

  margin: auto;
}

.my-pledge .wrapper {
  width: 100vw;
  height: 100vh;
}

.my-pledges.button.button-small.button-clear.button-PDMLight {
  color: #00b9be; /*PDMLight color*/
  font-size: 1em;
  font-weight: thick;
}

.my-pledges.button.button-clear.button-sponsor-help {
  color: #00b9be; /*PDMLight color*/
  font-size: 1em;
  font-weight: thick;
  text-align: center;
  margin: auto;
}

.my-pledges hr {
  background-color: #00b9be;
  color: #00b9be;
  padding: none;
  height: 3px;
  border: none;
  margin: 0px;
}

.my-pledges h3 {
  font-family: "HelveticaNeue-Light";
  font-size: 1.5em;
  font-weight: thin;
  text-align: left;
}

.my-pledges.col.pledge {
  text-align: right;
  line-height: 80%;
}
p.pledge.my-pledges  {
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: black;
  text-align: right;
  overflow: visible;
}
p.ending-date.my-pledges  {
  font-family: "HelveticaNeue-Light";
  font-weight: thin;
  font-size: .9em;
  overflow: visible;
}

a.my-pledges.item.item-icon-left {
  font-family: "HelveticaNeue-Light";
  height: 100%;
}

.my-pledges.cell-vertical-center-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
