.races a {
  text-decoration: none;
}

.races.featured-container {

  height: 25%;
  widht:100%;

  margin-bottom: 1px;
}

.races.featured-box {
  height: 100%;
  width: 100%;

  border-radius: 5px;

  background-image: url("../img/User Header Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1.featured-race {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: white;
  text-align: center;
  padding-top: 5px;
}

p.races.featured-race-detail {
  font-family: "HelveticaNeue-Light";
  font-size: small;
  color: white;
  padding-left: 5px;
}

h1.find-races,
h1.past-races {
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: xx-large;
  padding-left: 5px;
  color: white;
}

.races.my-races-container {
  height: 25%;
  width: 100%;
  margin-bottom: 1px;

  border-radius: 5px;

  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/tree one.jpeg");
  background-position: center;
}

.races.find-races-container {
  height: 25%;
  width: 100%;
  margin-bottom:  1px;

  border-radius: 5px;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/tree two.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.races.past-races-container {
  height: 25%;
  width: 100%;
  margin-bottom: 1px;

  border-radius: 5px;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/tree three.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.races.tile-container-one {
  height: 25%;
  width: 100%;
  margin-bottom: 1px;

  border-radius: 5px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/tree one.jpeg");
}

.races.tile-container-two {
  height: 25%;
  width: 100%;
  margin-bottom: 1px;

  border-radius: 5px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/tree two.jpeg");
}
.races.tile-container-three {
  height: 25%;
  width: 100%;
  margin-bottom: 1px;

  border-radius: 5px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/tree three.jpeg");
}

.races.gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) );
}

/*My Races*/
h1.my-races {
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: x-large;
  padding-left: 5px;
  color: white;
}

p.races.my-races-detail {
  font-family: "HelveticaNeue-Light";
  font-size: small;
  color: white;
  padding-left: 5px;
  padding-top: 0;
}



p.races.find-races-head {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: x-large;
  text-align: left;
  color: black;
}

span.races.find-race-detail {
  font-family: "HelveticaNeue-Light";
  font-size: small;
  text-align: right;
}


/*Find Races*/
.races.find-races-filter-container {
  height: 15%;
  width: 100%;

  border-radius: 5px;
  margin-bottom: 1px;

  background-color: grey;
}

p.find-races.filter-head {
  font-family: "HelveticaNeue-Light";
  font-size: larger;
  padding-left: 5px;
  padding-top: 5px;
  color: white;
}

select.find-races.select-city,
select.find-races.select-month,
select.find-races.select-distance {
  font-family: "HelveticaNeue-Light";
  color: white;
  border: thin;
  border-style: solid;
  border-color: white;
  background-color: grey;

  margin-left: 5px;
}
