.races.gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  padding: 0 0 0 0;
  margin: auto;
}

.races.featured-containter {
  height: 30%;
  widht:100%;

  margin-bottom: 0;
}

h1.races {
  /*font-family: "Helvetica Neue";*/
  font-weight: 300;
  font-size: x-large;
  padding-left: 10px;
  color: white;
}

h1.featured-race,
h1.races.races-head {
  /*font-family: "Helvetica Neue";*/
  font-weight: 300;
  color: white;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}

p.races.featured-race-detail,
p.races.races-detail {
  /*font-family: "HelveticaNeue-Light";*/
  font-size: small;
  color: white;
  padding-left: 10px;
  margin-bottom: auto;
  margin-top: auto;
}

.races.my-races-container {
  height: 23%;
  width: 100%;
  /*
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
*/
  margin-top: 1px;
  margin-bottom: 1px;

  border-radius: 4px;

  background-color: #fff;

  background-image: url("../img/sunrun.png");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: auto;
}

.races.find-races-container {
  height: 23%;
  width: 100%;
  /*
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
*/
  margin-bottom: 1px;

  border-radius: 4px;

  background-color: #fff;

  background-image: url("../img/look.png");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: auto;
}

.races.past-races-container {
  height: 23%;
  width: 100%;
  /*
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
*/
  margin-bottom: 1px;

  border-radius: 4px;

  background-color: #fff;

  background-image: url("../img/Crossing.png");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: auto;
}


/*!*Old CSS Stuff*!*/

/*.races.tile-container {*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*margin-bottom: 0px;*/

  /*border-radius: 2px;*/

  /*background-size: cover;*/
  /*background-position: center;*/
  /*background-image: url("../img/tree one.jpeg");*/
/*}*/

/*.races.tile-container-two {*/
  /*height: 25%;*/
  /*width: 100%;*/
  /*margin-bottom: 0px;*/

  /*border-radius: 2px;*/

  /*background-size: cover;*/
  /*background-position: center;*/
  /*background-image: url("../img/tree two.jpeg");*/
/*}*/
/*.races.tile-container-three {*/
  /*height: 25%;*/
  /*width: 100%;*/
  /*margin-bottom: 0px;*/

  /*border-radius: 2px;*/

  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*background-image: url("../img/tree three.jpeg");*/
/*}*/

.races.find-tile-container {
  height: 25%;
  widht:100%;

  margin-bottom: 1px;

  overflow: auto;
}

.races.featured-box {
  height: 100%;
  width: 100%;

  border-radius: 2px;

  background-image: url("../img/User Header Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.races.find-box {
  height: 100%;
  width: 100%;

  border-radius: 5px;

  background-image: url("../img/tree one.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

}


/*Find Races*/
.races.find-races-filter-container {
  width: 100%;

  border-radius: 5px;
  margin-bottom: 1px;

  background-color: white;

  overflow: auto;
}

.chip {
  color: #00b9be;
}

strong {
  padding-right: 5px;
}

a.races {
  text-decoration: none;
}


/*
p.find-races.filter-head {
  font-family: "HelveticaNeue-Light";
  font-size: larger;
  padding-left: 5px;
  padding-top: 5px;
  color: #00b9be;
}

select.find-races.select-city,
select.find-races.select-month,
select.find-races.select-distance {
  font-family: "HelveticaNeue-Light";
  color: #00b9be;
  border: thin;
  border-style: solid;
  border-color: #00b9be;

  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.races.find-races-container {
  height: 25%;
  width: 100%;
  margin-bottom:  1px;

  border-radius: 5px;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/tree two.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.races.past-races-container {
  height: 25%;
  width: 100%;
  margin-bottom: 1px;

  border-radius: 5px;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/tree three.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p.races.my-races-detail {
  font-family: "HelveticaNeue-Light";
  font-size: small;
  color: white;
  padding-left: 10px;
  margin-bottom: auto;
}

p.races.find-races-head {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: x-large;
  text-align: left;
  color: black;
}

span.races.find-race-detail {
  font-family: "HelveticaNeue-Light";
  font-size: small;
  text-align: right;

  margin-bottom: auto;
}

h1.my-races {
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: x-large;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}
*/
