
.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 70%;
}

.row {
  position: relative;
  z-index: 10;
  background-color: white;
}

/*p.head {*/
  /*font-family: "HelveticaNeue-Light";*/
  /*font-size: 1em;*/
  /*font-weight: lighter;*/

  /*text-align: left;*/

  /*line-height: 1;*/
/*}*/

/*p.label {*/
  /*text-align: center;*/
  /*font-family: "HelveticaNeue-Light";*/
  /*font-size: 2em;*/

  /*line-height: 0.5;*/
/*}*/

/*p.detail-head {*/
  /*text-align: center;*/
  /*font-family: "HelveticaNeue-Light";*/
  /*font-size: large;*/

  /*line-height: 0.5;*/
/*}*/

/*span.units {*/
  /*font-size: 0.5em;*/
/*}*/

/*span.head {*/
  /*font-family: "HelveticaNeue-Light";*/
  /*font-size: small;*/
/*}*/

/*button.button-large.button-lap {*/

  /*position: absolute;*/
  /*top: 65%;*/
  /*left: 5%;*/
  /*right: 5%;*/

  /*width: 90%;*/

  /*background-color: #00b9be;*/
  /*color: white;*/

  /*z-index: 10;*/
/*}*/

/*button.button-large.button-pause {*/
  /*position: absolute;*/
  /*top: 80%;*/
  /*left: 5%;*/
  /*right: 5%;*/

  /*width: 90%;*/

  /*background-color: white;*/
  /*color: #00b9be;*/

  /*z-index: 10;*/
/*}*/

/*button.button-large.button-pause-red{*/
  /*position: absolute;*/
  /*top: 80%;*/
  /*left: 5%;*/
  /*right: 5%;*/

  /*width: 90%;*/

  /*background-color: red;*/
  /*color: white;*/

  /*z-index: 10;*/
/*}*/

/*!*Overlay Stuff*!*/
/*.overlay {*/
  /*position: absolute;*/
  /*top: 30%;*/

  /*width: 100%;*/

  /*background-color: white;*/

  /*z-index: 10;*/
/*}*/


p.head {
  font-family: "HelveticaNeue-Light";
  font-size: 1em;
  font-weight: thin;

  text-align: left;

  line-height: 1;
}

p.label {
  text-align: center;
  font-family: "HelveticaNeue-Light";
  font-size: 2em;

  line-height: 0.5;
}

p.detail-head {
  text-align: center;
  font-family: "HelveticaNeue-Light";
  font-size: large;

  line-height: 0.5;
}

span.units {
  font-size: 0.5em;
}

span.head {
  font-family: "HelveticaNeue-Light";
  font-size: small;
}

button.button-large.button-lap {

  position: absolute;
  top: 65%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: #00b9be;
  color: white;

  z-index: 10;
}

button.button-large.button-pause {
  position: absolute;
  top: 80%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: white;
  color: #00b9be;

  z-index: 10;
}

button.button-large.button-pause-red{
  position: absolute;
  top: 80%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: red;
  color: white;

  z-index: 10;
}

button.button-large.button-start {

  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: #00b9be;
  color: white;

  z-index: 10;
}

hr {
  width: 85%;
}

.verticalLine {
  border-left: thin solid black;
  transition: 1s all linear;
}

button.button-slide-up {
  background-image: url("../img/pull down grey bar straight.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  display: block;

  width: 100%;
  height: 0.8vh;

  margin-bottom: 3px;
}

button.button-slide-down {
  background-image: url("../img/pull down grey bar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  display: block;

  width: 100%;
  height: 1.5vh;

  margin-bottom: 3px;
}

h2 {
  font-family: "HelveticaNeue-Light";
  font-size: x-large;
  text-align: center;
}

.detail {
  transition: 0.1s all linear;
}

.overlay {
  position: absolute;
  width: 100%;
  top:0;

  background-color: white;

  z-index: 10;
}

