.run-page.settings.button i {
  content: url("../img/PDM-logo-white.svg");
  /*padding: 3px 1px 1px 1px;*/
  margin: .5vh 0 0 .25vh;
  width: 7.5vw;
  color: #fff;
}

.animated-detail {
  margin: 0 !important;
  position: relative;
  top: 0;
  z-index: 9999;
  /*-webkit-transition: height .25s ease-in-out;*/
  transition: all .25s ease-in-out;
  opacity: 0;
  height: 0;
}

.animated-detail.active {
  opacity: 1;
  height: 125px;
}



.animated-run-detail {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  background: white;
}

.animated-run-detail.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.2s;
}

.animated-run-detail.ng-hide-add-active,
.animated-run-detail.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition: .25s linear all;
}

.animated-run-detail.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.run-page.overlay {
  box-shadow:0 2px 6px rgba(0, 0, 0, .3);
}

.run-page.scroll {
  height: 100%;
}

.run-page #map {
  width: 100%;
  height: 70%;
}

.run-page .row {
  position: relative;
  z-index: 10;
  background-color: white;
}

.run-page p.head {
  font-family: "HelveticaNeue-Light";
  font-size: 1em;
  font-weight: lighter;

  text-align: left;

  line-height: 1;
}


p.run-page.detail-head {
  text-align: center;
  font-family: "HelveticaNeue-Light";
  font-size: large;


  padding-bottom: 0;
  padding-top: 5px;

  /*line-height: 0.5;*/
}

.run-page hr.full {
  margin: 0 0 1% 0;
}

.run-page p.label {
  font-family: "HelveticaNeue-Light";
  font-size: 1.75em;
  margin: 2% 0 5% 5%;
  line-height: 0.5;
  font-weight: 300;
}

  .run-page span.units {
    font-size: 0.5em;
    color: #808080;
  }

  .run-page span.head {
    font-family: "HelveticaNeue-Light";
    font-size: small;
    margin-left: 5%;
    color: #808080;
  }

button.run-page.button-large.button-lap {

  position: absolute;
  top: 65%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: #00b9be;
  color: white;

  z-index: 10;
}

button.run-page.button-large.button-pause {
  position: absolute;
  top: 80%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: white;
  color: #00b9be;

  z-index: 10;
}

button.run-page.button-large.button-pause-red{
  position: absolute;
  top: 80%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: red;
  color: white;

  z-index: 10;
}

button.run-page.button-large.button-start {

  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;

  width: 90%;

  background-color: #00b9be;
  color: white;

  z-index: 10;
}

.verticalLine.run-page {
  border-left: thin solid lightgrey;
  transition: 1s all linear;
}

button.run-page.button-slide-up {
  background-image: url("../img/pull down grey bar straight.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  display: block;

  width: 100%;
  height: 0.8vh;

  margin-bottom: 3px;
}

button.run-page.button-slide-down {
  background-image: url("../img/pull down grey bar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  display: block;

  width: 100%;
  height: 1.5vh;

  margin-bottom: 3px;
}

h2.run-page {
  /*Check to remove this later*/
  font-family: "HelveticaNeue-Light";
  font-size: x-large;
  text-align: center;

  padding-top: 0;
}

.run-page.overlay {
  position: absolute;
  width: 100%;
  top:0;

  background-color: white;

  z-index: 10;
}

p.run-page.header {
  font-family: "HelveticaNeue-Light";
  font-size: x-large;
  text-align: center;
  padding: 15px 0 5px 0;
}

.run-page.bar-stable .button {
  color: white;
}

/*Styling for no charity or sponsors display*/
a.run-page.no-sponsor {
  text-decoration: none !important;
}

  a.run-page.no-sponsor p {
    margin: 0;
    color: #00b9be;
    font-size: medium;
    font-weight: 700;
    padding: 5px 0 5px 0;
    line-height: 30px;
  }

a.run-page.no-charity {
  text-decoration: none !important;
}

  a.run-page.no-charity p {
    margin: 0;
    color: #00b9be;
    font-size: medium;
    font-weight: 700;
    padding: 5px 0 5px 0;
    line-height: 30px;
  }

.stop-popup.button-positive {
  background-color: rgb(206, 29, 31) !important;
}
