.my-sponsors.item.item-divider {
  text-align: center;
  font-size: x-large;
  font-weight: normal;
}

.my-sponsors.item.item-text-wrap {
  text-align: center;
}

.my-sponsors h1 {
  font-size: x-large;
  font-weight: normal;
}

.my-sponsors i {
  text-align: center;
}

.my-sponsors .card {
  font-family: "HelveticaNeue";
}

.my-sponsors .item.item-input-inset {
  border: none;
}

.my-sponsors ion-content.payment {
  background-image:url('../img/bg.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
}
