/*Custom Tabs*/
a.run-tab.tab-item i {
  content: url("../img/PDM-logo-teal.svg");
  padding: 3px 1px 1px 1px;
}

  a.run-tab.tab-item.tab-item-active i {
    content: url("../img/PDM-logo-white.svg");
  }


ion-tabs{
}
.tabs, .tabs-striped .tabs {
  background-color: #fff;
  background-image: none;
  border: none;
  padding: 0;
}

.tab-item {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

ion-tabs.tabs-color-active-positive .tab-item,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item {
  color: #00b9be;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active {
  color: #fff;
  background-color: #00b9be;
  border-color: #efefef;
}

ion-tabs.tabs-color-active-positive .tab-item.activated,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  color: #efefef;
  border-color: #efefef;
}

/*^^^*/


/*Get rid of sign-in and sign-up tab bars*/
  .auth .tab-nav.tabs{
    display: none;
    background-color: #00b9be;
  }

  .auth.tabs-icon-top.pane.tabs-bottom.tabs-standard {
    background-color: #00b9be;
  }

  [name=auth-signin] .pane{
    background-color: transparent;
  }

  [name=auth-signup] .pane{
    background-color: transparent;
}
/*^^^*/






.ion-chevron-right, .ion-chevron-left {
  background-color: transparent;
  border: none;
}

.popup {
  border-radius: 8px !important;
}

  .popup input {
    padding: 5px;
  }

  .popup .popup-buttons .button-default {
  }

  .popup .popup-buttons .button-positive {
    color: #fff;
    background-color: #00b9be;
  }

.nav-bar-block, .bar {
  background-color: #00b9be !important;
}

.bar.bar-positive {
  background-image: none;
}

.button-white {
  color: #ffffff !important;
}

.title {
  color: #ffffff !important;
  font-weight: 500 !important;
  color: white !important;
  text-align: center !important;
}

.side-menu.title {
  font-weight: 300 !important;
}

.side-menu.title span {
  font-weight: 500 !important;
}

.toggle input:checked + .track {
  border-color: #00b9be !important;
  background-color: #00b9be !important;
}

h1, h2, h3, p, span, button, ion-item, ion-content, .title {
  font-family: "Helvetica Neue";
}


map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height:100%;
}

.button.back-button {
  color: white !important;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 0 5% 0 5%;
}
